.flexOne {
    display:flex;
    justify-content: end;

    div {
        padding:60px 0;
        width:48%;
    }
    h2 {
        text-transform: uppercase;
        font-family: $headerFont;
        letter-spacing: 1px;
        color: $black;
    }
    p {
        font-family: $bodyFont;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
        padding:10px 0;
    }
    .more {
        font-family: 20px;
        padding:8px 16px;
        text-align: center;
        line-height: 28px;
        letter-spacing: 1px;
        background-color: $accent;
        color: $black;
        text-transform: uppercase;
        font-family: $headerFont;
        border: none;
    }
}