
@media (max-width: 1250px) {
    .flexOne > div:nth-child(1) {
    width: 90%;
    margin: 0 24px;
    }
    .boxOne div.box {
    right: 52px;
    }
    .flex-travel .travelOne, .flex-travel div.travelTwo {
    top: 34px;
    }
}
@media(max-width:1025px) {
    .flex-travel .boxOne div.box {
    height: 281px;
    bottom: 300px;
    right: 2px;
    }
    .flex-travel .boxOne div.boxTwo {
    height: 269px;
    bottom: 209px;
    }
    .boxOne div.box {
    right: 40px;
    height: 259px;
    bottom: 281px;
    }
    .favouriteDiv > h3:nth-child(1) {
    margin: 0;
    }
    .flex-travel img.travelOne,
    .flex-travel img.travelTwo {
    width: 85%;
    }
    .flex-travel img.travelTwo {
    top: 41px;
    }
    .travePadding div.flex-travel:nth-child(1) {
    margin-bottom: 40px;
    }

}
@media (max-width: 900px) {
    .journeySection {
    flex-direction: column;
    }
    header h1 {
        font-size: 87px;
        top: 118px;
    }
    header .circlePhoto {
        right: 75px;
        width: 105px;
        bottom: -93px;
    }
    ol li {
        font-size: 14px;
    }
    ol :nth-child(3) {
        font-size: 24px;
    }
    .flex-travel .travelDiv h3,
    .flex-travel .favouriteDiv h3 {
    font-size: 23px;
    }
    .flex-travel .travelDiv p,
    .flex-travel .favouriteDiv p {
    font-size: 16px;
    }
    div.flex-travel {
    height: 236px;
    }
    .travePadding {
    padding-bottom: 50px;
    }
}
@media (max-width: 862px) {
    .flex-travel .boxOne div.boxTwo {
    height: 221px;
    bottom: 132px;
    }
    .flex-travel .boxOne div.box {
    height: 223px;
    bottom: 224px;
    right: 0px;
    }
    .flex-travel img.travelOne {
    top: -24px;
    }
    .flex-travel div.travelDiv,
    .flex-travel div.favouriteDiv {
    width: 33%;
    }

    .favouriteDiv > h3:nth-child(1) {
    margin: 0;
    }

    .flex-travel .travelOne, .flex-travel img.travelTwo {
    top: 77px;
    }
}

@media (max-width: 755px) {
    .mediaHeader {
        flex-direction: column;
        width: 300px;
        margin-left: 21%;
    }
    header h1 {
        top: 129px;
    }
    header .circlePhoto {
        bottom: -106px;
    }

    ol li {
        margin-right:39px;
    }
    .journeySection{
    align-items: center;
    }
    .journeyColor div .journeyImg {
    margin: 0px;
    }
    .gallery ol {
    flex-direction: column;
    align-items: center;
    }
    .gallery .gallery-size li {
    width: 100%;
    align-items: center;
    padding: 50px;
    }
}

 @media (max-width: 700px) {
    div.flex-travel {
        display: initial;
    }
    .travePadding div.flex-travel:nth-child(1) {
    margin-bottom: 0;
    }
    .travePadding {
        height: 1000px;
    }
    .flex-travel div.travelDiv,
    .flex-travel div.favouriteDiv {
    width: 88%;
    }
    .flex-travel div.travelDiv {
    margin-top: -200px;
    position: relative;
    }
    .flex-travel div.boxOne {
    width: 77%;
    }
    .flex-travel img.travelOne {
    top: -13px;
    }
    div.flex-travel .favouriteDiv {
    margin-top: 50px;
    }
 }

@media (max-width: 540px) {
    .mediaHeader {
        margin-left: 15%;
    }
    .hideNav {
        display: none;
    }
    .sectionStyle .sectionThirdFlex .thirdSection {
        width: 97%;
    }
    .sectionThirdFlex {
        flex-direction: column;
    }
    .flexOne .sizeP, .thirdSection .sizeP {
        font-size: 18px;
    }
    .sectionStyle .sectionThirdFlex div .sizeH3 {
        font-size: 23px;
    }

}

@media (min-width:540px) {
    #myLinks > a, .icon {
        display:none;
    }

}
@media (max-width: 400px) {
    .mediaHeader {
        margin-left: 6%;
    }
    header .harperPicture {
        width: 72%;
        top: 120px;
        box-shadow: none; 
    }
    header h1 {
        font-size: 58px;
        top: 140px;
        }
    header .circlePhoto {
        right: 47px;
        width: 76px;
        bottom: -45px;
        transform: rotate(1deg);
        }
}

@media (max-width: 320px) {

    .box {
    width: 99%;
    height: 100px;
    bottom: 95px;
    right: 0;
    }
    div.flex-travel .favouriteDiv {
    margin-top: 50px;
    }
    .flex-travel .travelOne, .flex-travel img.travelTwo {
    top: 56px;
    left: 80px;
    }
    .flex-travel .boxOne div.boxTwo {
    height: 131px;
    bottom: 62px;
    left: 94px;
    }
    .flex-travel .boxOne div.box {
    height: 128px;
    bottom: 149px;
    right: 1px;
    }
    .flex-travel img.travelOne {
    top: -32px;
    left: -62px;
    }
    .flex-travel div.travelDiv {
    margin-top: -145px;
    }
    .travePadding {
    height: 867px;
    }
    h2 {
    font-size: 22px;
    }
    .flexOne .sizeP, .thirdSection .sizeP {
    font-size: 18px;
    font-size: 16px;
    }
    .sectionStyle .thirdSection p.sizeP {
    font-size: 16px;
    }
    .flex-travel div.travelDiv, .flex-travel div.favouriteDiv {
    width: 76%;
    }
    .journeySection > div:nth-child(1) {
    width: 60%;
    }
    .journeyColor div.journey h3 {
    font-size: 27px;
    }
    .journeyColor div.journey p {
    font-size: 16px;
    }
    .gallery .gallery-size li {
    padding: 20px;
    margin-left: 26px;
    }
    footer.copyright p {
    font-size: 16px;
    }
}
// @media (max-width: px) {}
// @media (max-width: px) {}
// @media (max-width: px) {}
// @media (max-width: px) {}

    
