 @media (max-width: 1350px) {
    .box, .boxTwo {
        display:none;
    }
    .travelOne {
    box-shadow: -17px 12px $primary1;
    }
    .travelTwo {
        box-shadow: 11px 12px $primary1;
    }
}

@media (max-width: 1250px) {
    .flexOne > div:nth-child(1) {
    width: 90%;
    margin: 0 24px;
    }
}
@media (max-width: 900px) {
    .journeySection {
    flex-direction: column;
    }
    header h1 {
        font-size: 87px;
        top: 118px;
    }
    header .circlePhoto {
        right: 75px;
        width: 105px;
        bottom: -93px;
    }
    ul li {
        font-size: 14px;
    }
    ul :nth-child(3) {
        font-size: 24px;
    }
}

@media (max-width: 755px) {
    .mediaHeader {
        flex-direction: column;
        width: 300px;
        margin-left: 21%;
    }
    header h1 {
        top: 129px;
    }
    header .circlePhoto {
        bottom: -106px;
    }

    ul li {
        margin-right:39px;
    }

}

@media (max-width: 540px) {
    .mediaHeader {
        margin-left: 15%;
    }
    .hideNav {
        display: none;
    }
    .sectionStyle .sectionThirdFlex .thirdSection {
        width: 97%;
    }
    .sectionThirdFlex {
        flex-direction: column;
    }
    .flexOne .sizeP, .thirdSection .sizeP {
        font-size: 18px;
    }
    .sectionStyle .sectionThirdFlex div .sizeH3 {
        font-size: 23px;
    }

}

@media (min-width:540px) {
    #myLinks > a, .icon {
        display:none;
    }

}
@media (max-width: 400px) {
    .mediaHeader {
        margin-left: 6%;
    }
    header .harperPicture {
        width: 72%;
        top: 120px;
        box-shadow: none; 
    }
    header h1 {
        font-size: 58px;
        top: 140px;
        }
    header .circlePhoto {
        right: 47px;
        width: 76px;
        bottom: -45px;
        transform: rotate(1deg);
        }
}

// @media (max-width: px) {}
// @media (max-width: px) {}
// @media (max-width: px) {}
// @media (max-width: px) {}
// @media (max-width: px) {}

    
