.flexOne {
    display:flex;
    justify-content: end;

    div {
        padding:100px 0;
        width:48%;
    }
    h2 {
        text-transform: uppercase;
        font-family: $headerFont;
        letter-spacing: 1px;
        color: $black;
    }
    p {
        font-family: $bodyFont;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
        padding:10px 0;
    }
    .more {
        font-family: 20px;
        padding:8px 16px;
        text-align: center;
        line-height: 28px;
        letter-spacing: 1px;
        background-color: $accent;
        color: $black;
        text-transform: uppercase;
        font-family: $headerFont;
        border: none;
    }
}


.sectionStyle{
    padding:90px 0;
    .sectionThirdFlex {
        display: flex;
        justify-content: space-between;
        div {
            width:45%;
            h3 {
                text-transform: uppercase;
                font-family: $headerFont;
                font-size:32px;
                letter-spacing: 1px;
                margin-bottom:0;
            }
        }
    }
    .moveIcon {
    margin-right:20px;
    background:$primary2;
    padding:10px;
    border-radius: 50%;
    }
    .thirdSection p {
        margin-left:65px;
        margin-top: 10px;
        font-family: $bodyFont;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
    }
}
.flexTravel {
        height: 300px;
        display: flex;
        justify-content: space-between;
    div {
        width: 39%;
        }
    h3 {
        text-transform: uppercase;
        font-family: $headerFont;
        font-size:32px;
        letter-spacing: 1px;
        margin-bottom:0;
    }
    img {
        width:70%;
        z-index: 10;
    }
    
    p {
        font-family: $bodyFont;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
        padding:10px 0;
    }  

    .boxOne {
        width: 50%;
    }

    .travelOne, .travelTwo {
        z-index: 10;
        position: relative;
    }
    .boxOne .boxTwo{
        width: calc(100% - 20px);
        height: 300px;
        position: relative;
        background:$primary2;
        bottom: 280px;
        left: 20px;
    }
    .travelOne {
        margin-left: 83px;
        top: -43px;
    }
    .travelDiv, .favouriteDiv {
        margin: auto;
    }
}
.boxOne .box {
        width: 98%;
        height: 314px;
        position: relative;
        background:$primary2;
        bottom: 330px;
        right: 86px;
}

div.flexTravel:nth-child(1) > div:nth-child(2) > button:nth-child(3),
div.flexTravel:nth-child(2) > div:nth-child(1) > button:nth-child(3) {
    font-family: 20px;
    padding:8px 16px;
    text-align: center;
    line-height: 28px;
    letter-spacing: 1px;
    background-color: $accent;
    color: $black;
    text-transform: uppercase;
    font-family: $headerFont;
    border: none;
}

.journeyColor {
        background-color:$primary4;
    .journeySection {
        padding: 90px 0px;
        display: flex;
    }
    .journeyImg {
        box-shadow: 11px 12px $primary1;
        margin-right:222px;
    }
    .journey  {
        width: 75%;
        h3 {
        text-transform: uppercase;
        font-family: $headerFont;
        font-size:32px;
        letter-spacing: 1px;
        margin-bottom:0;
        }
        p {
            font-family: $bodyFont;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0px;
            padding:10px 0;
        }
        .more {
            font-family: 20px;
            padding:8px 16px;
            text-align: center;
            line-height: 28px;
            letter-spacing: 1px;
            background-color: $accent;
            color: $black;
            text-transform: uppercase;
            font-family: $headerFont;
            border: none;
        }
        div:nth-child(1) {
        width: 100%;
        }
    }
}

div.flexTravel:nth-child(1) {
    margin-bottom: 80px;
}
.color {
    background-color: $primary4;
}
.gallery {
    margin:50px 0;
    ul li {
    display: flex;
    width:33%;
    padding:100px 0;
    margin:0 5px 0 5px;
    }
    ul {
        padding:0;
    }
}

footer {
        margin:0;
    p {
        background-color: $black;
        color:$white;
        font-weight: lighter;
        text-align: center;
        font-family: $bodyFont;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
        padding:10px 0;
        margin: 0;
    }
}

// Blog

.blog {
    height: 50vh;
    .blogImage {
        height: 100%;
    }
    h2 {
        font-size:70px;
        font-family: $headerFont;
        position: absolute;
        bottom: 260px;
        text-transform: uppercase;
        margin-left:140px;
    }
    .blogLi {
        color: $white;
    }
}

.blogOne {
    background-color: $primary4;
    p {
        font-family: $bodyFont;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
    }
}

.blogTop {
        padding-top: 200px;
        padding-bottom:50px;
    }
.flexContainer {
        display: flex;
        justify-content: space-between;
        .firstDiv {
        width:30%;
        div {
            background-color: $white;
            padding: 20px;
        }
    }

    .secondDiv {
        width: 65%;
        background-color: $white;
        padding: 20px;
        border-bottom: 5px solid $primary1;
    }
    .post {
        margin-top:25px;
        ul li {
            margin-left:20px;
            font-size: 20px;
            font-family: $bodyFont;
        }
    }
    h4 {
        font-size: 24px;
        font-family: $headerFont;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
div.flexBlogP:nth-child(2) {
border-bottom: 5px solid $primary1;
}

.flexEnd {
    display: flex;
    justify-content: flex-end;
    
    .flexBlogP {
        background-color: $white;
        padding: 20px;
        display: flex;
        margin-left: 35%;
        margin-bottom: 20px;
        font-family: $bodyFont;
        font-size: 20px;
        p {
            padding: 0;
            margin:0;
        }
         div:nth-child(2) {
        width: 82%;
        }
        img {
            margin-right: 20px;
        }
        
    }
    
}
.colorReview {
    background-color: $primary4;
}
.formFlex {
    display:flex;
    justify-content: end;
    div:nth-child(1) > form:nth-child(1) {
    width: 100%;
    }
    #fname {
    padding: 10px 0px 10px 20px;
    width: calc(50% - 3px);
    border:none;
    }
    #email {
    padding: 10px 0px 10px 20px;
    width: calc(50% - 3px);
    border:none;
    }

    form {
        width: 65%;
        ::placeholder {
        font-family: $bodyFont;
        font-size: 20px;
        color:$black;
        opacity: 1;
        }
    }
    #subject {
    height: 400px;
    width: 99.8%;
    border:none;
    margin-top:10px;
    padding: 20px;
    color:$black;

    }
    .postComment {
    width: 100%;
    margin-top: 10px;
    padding: 7px;
    text-transform: uppercase;
    margin-bottom: 150px;
    border: none;
    background: $accent;
    font-family: $headerFont;
    font-size: 20px;
    }
}

// Contact page

.contactMe {
    height: 50vh;
        h2 {
        font-size:70px;
        font-family: $headerFont;
        position: absolute;
        bottom: 260px;
        text-transform: uppercase;
        margin-left:140px;
    }
    img {
        height: 100%;
    }
    .contactLi {
    color:$white;
    }
}

.iconsDiv {
    width: 30%;
    background: $white;
    padding: 20px;
    height: 307px;
    .flexIcons {
        display:flex;
        list-style: none;
        color:$primary1;
        
        li {
            margin:10px;
        }
    }
        .styleIcons {
        list-style: none;
        li {
            margin:10px;
            font-family: $bodyFont;
            font-weight: lighter;
        }
        li:nth-child(1) {
                font-weight: bold;
                font-family: $bodyFont;
        }
    }
}
.contactForm {
width: 60%;
}
.contactForm form {
  width: 87%;
    ::placeholder {
            font-family: $bodyFont;
            font-size: 20px;
            color:$black;
            opacity: 1;
            }
    #fname {
        width: 49.5%;
        padding: 10px;
    }
    #email {
    width: 49.5%;
    padding: 10px;
    }
    #subject {
    display: block;
    width: 100%;
    border: none;
    margin-top: 10px;
    padding: 10px;
    }
    .submit {
    width: 100%;
    margin-top: 10px;
    padding: 7px;
    text-transform: uppercase;
    margin-bottom: 150px;
    border: none;
    background: $accent;
    font-family: $headerFont;
    font-size: 20px;
    }

}
.flexContactDiv {
    display: flex;
    padding-top:200px;
    padding-bottom: 0;
    justify-content: space-between;
}
.colorContact{
    background-color: $primary4;
}

