.flexOne {
    display:flex;
    justify-content: end;

    div {
        padding:100px 0;
        width:48%;
    }
    h2 {
        text-transform: uppercase;
        font-family: $headerFont;
        letter-spacing: 1px;
        color: $black;
    }
    p {
        font-family: $bodyFont;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
        padding:10px 0;
    }
    .more {
        font-family: 20px;
        padding:8px 16px;
        text-align: center;
        line-height: 28px;
        letter-spacing: 1px;
        background-color: $accent;
        color: $black;
        text-transform: uppercase;
        font-family: $headerFont;
        border: none;
    }
}


.sectionStyle{
    padding:90px 0;
    .sectionThirdFlex {
        display: flex;
        justify-content: space-between;
        div {
            width:45%;
            h3 {
                text-transform: uppercase;
                font-family: $headerFont;
                font-size:32px;
                letter-spacing: 1px;
                margin-bottom:0;
            }
        }
    }
    .moveIcon {
    margin-right:20px;
    background:$primary2;
    padding:10px;
    border-radius: 50%;
    }
    .thirdSection p {
        margin-left:65px;
        margin-top: 10px;
        font-family: $bodyFont;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
    }
}
.flex-travel {
        height: 300px;
        display: flex;
        justify-content: space-between;
    div {
        width: 39%;
        }
    h3 {
        text-transform: uppercase;
        font-family: $headerFont;
        font-size:32px;
        letter-spacing: 1px;
        margin-bottom:0;
    }
    img {
        width:70%;
        z-index: 10;
    }
    
    p {
        font-family: $bodyFont;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
        padding:10px 0;
    }  

    .boxOne {
        width: 50%;
    }
    .boxOne .box {
        width: 98%;
        height: 314px;
        position: relative;
        background:$primary2;
        bottom: 330px;
        right: 86px;
    }

    .travelOne, .travelTwo {
        z-index: 10;
        position: relative;
    }
    .boxOne .boxTwo{
        width: calc(98% - 20px);
        height: 300px;
        position: relative;
        background:$primary2;
        bottom: 280px;
        left: 20px;
    }
    .travelOne {
        margin-left: 83px;
        top: -43px;
    }
    .travelDiv, .favouriteDiv {
        margin: auto;
    }
}

div.flex-travel:nth-child(1) > div:nth-child(2) > button:nth-child(3),
div.flex-travel:nth-child(2) > div:nth-child(1) > button:nth-child(3) {
    font-family: 20px;
    padding:8px 16px;
    text-align: center;
    line-height: 28px;
    letter-spacing: 1px;
    background-color: $accent;
    color: $black;
    text-transform: uppercase;
    font-family: $headerFont;
    border: none;
}

.journeyColor {
        background-color:$primary4;
    .journeySection {
        padding: 90px 0px;
        display: flex;
    }
    .journeyImg {
        box-shadow: 11px 12px $primary1;
        margin-right:222px;
    }
    .journey  {
        width: 75%;
        h3 {
        text-transform: uppercase;
        font-family: $headerFont;
        font-size:32px;
        letter-spacing: 1px;
        margin-bottom:0;
        }
        p {
            font-family: $bodyFont;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0px;
            padding:10px 0;
        }
        .more {
            font-family: 20px;
            padding:8px 16px;
            text-align: center;
            line-height: 28px;
            letter-spacing: 1px;
            background-color: $accent;
            color: $black;
            text-transform: uppercase;
            font-family: $headerFont;
            border: none;
        }
        div:nth-child(1) {
        width: 100%;
        }
    }
}

div.flex-travel:nth-child(1) {
    margin-bottom: 80px;
}
.color {
    background-color: $primary4;
}
.gallery {
    ul li {
    display: flex;
    width:33%;
    padding:100px 0;
    margin:0 5px 0 5px;
    }
    ul {
        padding:0;
    }
}

footer {
        margin:0;
    p {
        background-color: $black;
        color:$white;
        font-weight: lighter;
        text-align: center;
        font-family: $bodyFont;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
        padding:10px 0;
        margin: 0;
    }
}

// blog

.blog {
    height: 50vh;
    .blogImage {
        height: 100%;
    }
    h2 {
            font-size:70px;
            font-family: $headerFont;
            position: absolute;
            bottom: 260px;
            text-transform: uppercase;
            margin-left:140px;
        }
}

.blogTop {
        padding-top: 200px;
    }
.flexContainer {
        display: flex;
        justify-content: space-between;
        .firstDiv {
        width:30%;
    }
    .secondDiv {
        width: 55%;
    }

}
    

