
.sectionStyle{
    padding:90px 0;
    .sectionThirdFlex {
        display: flex;
        justify-content: space-between;
        div {
            width:45%;
            h3 {
                text-transform: uppercase;
                font-family: $headerFont;
                font-size:32px;
                letter-spacing: 1px;
                margin-bottom:0;
            }
        }
    }
}
.moveIcon {
    margin-right:20px;
    background:$primary2;
    padding:10px;
    border-radius: 50%;
}
.thirdSection p {
    margin-left:65px;
    margin-top: 10px;
    font-family: $bodyFont;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
}
