$primary-color: #171717;    
$secondary-color:#f38d8d;
$tertiary-color:#68b0c1;
$quaternary-color:#227284;
$quinary-color:#b9dde7;
$senary-color:#f6f6f6;

// black
// accent
// greyblue
// dusk-blue
// light-blue-grey
// white-shade

$font-family-oswald:'Oswald', sans-serif;
$font-family-cabin: 'Cabin', sans-serif;