$black: #171717;    
$accent:#f38d8d;
$primary2:#9aedff;
$primary1:#227284;
$primary3:#b9dde7;
$primary4:#f6f6f6;
$white:#ffff;

// black
// accent
// greyblue
// dusk-blue
// light-blue-grey
// white-shade

$headerFont:'Oswald', sans-serif;
$bodyFont: 'Cabin', sans-serif;