html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* begin our styling here! */
/* general styling */
html {
  font-size: 125%;
  /* 125% = 20px */
}

h1,
h2,
ul,
ol {
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1150px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #b9dde7;
  height: 100vh;
}

header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .harperPicture {
  width: 85%;
  position: relative;
  top: 90px;
  -webkit-box-shadow: 12px 9px #ffff;
          box-shadow: 12px 9px #ffff;
}

header h1 {
  font-size: 120px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: 30px;
}

header .circlePhoto {
  position: relative;
  right: 109px;
  width: 152px;
  bottom: 6px;
}

ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ol :first-child {
  color: #ffff;
}

ol :nth-child(3) {
  font-size: 35px;
}

ol :nth-child(5) {
  margin-left: 0;
}

ol li {
  margin-right: 75px;
  text-transform: uppercase;
  color: #171717;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  font-family: "Oswald", sans-serif;
}

.topnav a {
  float: left;
  color: #171717;
  font-family: "Oswald", sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav #myLinks {
  display: none;
}

#myLinks > a:nth-child(4),
#myLinks > a:nth-child(3),
#myLinks > a:nth-child(2),
#myLinks > a:nth-child(1) {
  padding-right: 0;
}

@media (max-width: 1250px) {
  .flexOne > div:nth-child(1) {
    width: 90%;
    margin: 0 24px;
  }
}

@media (max-width: 900px) {
  .journeySection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header h1 {
    font-size: 87px;
    top: 118px;
  }
  header .circlePhoto {
    right: 75px;
    width: 105px;
    bottom: -93px;
  }
  ol li {
    font-size: 14px;
  }
  ol :nth-child(3) {
    font-size: 24px;
  }
}

@media (max-width: 755px) {
  .mediaHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    margin-left: 21%;
  }
  header h1 {
    top: 129px;
  }
  header .circlePhoto {
    bottom: -106px;
  }
  ol li {
    margin-right: 39px;
  }
  .journeySection {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .journeyColor div .journeyImg {
    margin: 0px;
  }
  .gallery ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery .gallery-size li {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
  }
}

@media (max-width: 540px) {
  .mediaHeader {
    margin-left: 15%;
  }
  .hideNav {
    display: none;
  }
  .sectionStyle .sectionThirdFlex .thirdSection {
    width: 97%;
  }
  .sectionThirdFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flexOne .sizeP, .thirdSection .sizeP {
    font-size: 18px;
  }
  .sectionStyle .sectionThirdFlex div .sizeH3 {
    font-size: 23px;
  }
}

@media (min-width: 540px) {
  #myLinks > a, .icon {
    display: none;
  }
}

@media (max-width: 400px) {
  .mediaHeader {
    margin-left: 6%;
  }
  header .harperPicture {
    width: 72%;
    top: 120px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header h1 {
    font-size: 58px;
    top: 140px;
  }
  header .circlePhoto {
    right: 47px;
    width: 76px;
    bottom: -45px;
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

.flexOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.flexOne div {
  padding: 100px 0;
  width: 48%;
}

.flexOne h2 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  color: #171717;
}

.flexOne p {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  padding: 10px 0;
}

.flexOne .more {
  font-family: 20px;
  padding: 8px 16px;
  text-align: center;
  line-height: 28px;
  letter-spacing: 1px;
  background-color: #f38d8d;
  color: #171717;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  border: none;
}

.sectionStyle {
  padding: 90px 0;
}

.sectionStyle .sectionThirdFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionStyle .sectionThirdFlex div {
  width: 45%;
}

.sectionStyle .sectionThirdFlex div h3 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.sectionStyle .moveIcon {
  margin-right: 20px;
  background: #9aedff;
  padding: 10px;
  border-radius: 50%;
}

.sectionStyle .thirdSection p {
  margin-left: 65px;
  margin-top: 10px;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
}

.flex-travel {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-travel div {
  width: 39%;
}

.flex-travel h3 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.flex-travel img {
  width: 70%;
  z-index: 10;
}

.flex-travel p {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  padding: 10px 0;
}

.flex-travel .boxOne {
  width: 50%;
}

.flex-travel .boxOne .box {
  width: 98%;
  height: 314px;
  position: relative;
  background: #9aedff;
  bottom: 330px;
  right: 86px;
}

.flex-travel .travelOne, .flex-travel .travelTwo {
  z-index: 10;
  position: relative;
}

.flex-travel .boxOne .boxTwo {
  width: calc(98% - 20px);
  height: 300px;
  position: relative;
  background: #9aedff;
  bottom: 280px;
  left: 20px;
}

.flex-travel .travelOne {
  margin-left: 83px;
  top: -43px;
}

.flex-travel .travelDiv, .flex-travel .favouriteDiv {
  margin: auto;
}

div.flex-travel:nth-child(1) > div:nth-child(2) > button:nth-child(3),
div.flex-travel:nth-child(2) > div:nth-child(1) > button:nth-child(3) {
  font-family: 20px;
  padding: 8px 16px;
  text-align: center;
  line-height: 28px;
  letter-spacing: 1px;
  background-color: #f38d8d;
  color: #171717;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  border: none;
}

.journeyColor {
  background-color: #f6f6f6;
}

.journeyColor .journeySection {
  padding: 90px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journeyColor .journeyImg {
  -webkit-box-shadow: 11px 12px #227284;
          box-shadow: 11px 12px #227284;
  margin-right: 222px;
}

.journeyColor .journey {
  width: 75%;
}

.journeyColor .journey h3 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.journeyColor .journey p {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  padding: 10px 0;
}

.journeyColor .journey .more {
  font-family: 20px;
  padding: 8px 16px;
  text-align: center;
  line-height: 28px;
  letter-spacing: 1px;
  background-color: #f38d8d;
  color: #171717;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  border: none;
}

.journeyColor .journey div:nth-child(1) {
  width: 100%;
}

div.flex-travel:nth-child(1) {
  margin-bottom: 80px;
}

.color {
  background-color: #f6f6f6;
}

.gallery ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  padding: 100px 0;
  margin: 0 5px 0 5px;
}

.gallery ul {
  padding: 0;
}

footer {
  margin: 0;
}

footer p {
  background-color: #171717;
  color: #ffff;
  font-weight: lighter;
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  padding: 10px 0;
  margin: 0;
}

.blog {
  height: 50vh;
}

.blog .blogImage {
  height: 100%;
}

.blog h2 {
  font-size: 70px;
  font-family: "Oswald", sans-serif;
  position: absolute;
  bottom: 260px;
  text-transform: uppercase;
  margin-left: 140px;
}

.blogOne {
  background-color: #f6f6f6;
}

.blogOne p {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
}

.blogTop {
  padding-top: 200px;
  padding-bottom: 50px;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexContainer .firstDiv {
  width: 30%;
}

.flexContainer .firstDiv div {
  background-color: #ffffff;
  padding: 20px;
}

.flexContainer .secondDiv {
  width: 65%;
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 5px solid #227284;
}

.flexContainer .post {
  margin-top: 25px;
}

.flexContainer .post ul li {
  margin-left: 20px;
}

.flexContainer h4 {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

div.flexBlogP:nth-child(2) {
  border-bottom: 5px solid #227284;
}

.flexEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flexEnd .flexBlogP {
  background-color: #ffff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 403px;
  margin-bottom: 20px;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
}

.flexEnd .flexBlogP p {
  padding: 0;
  margin: 0;
}

.flexEnd .flexBlogP div:nth-child(2) {
  width: 82%;
}

.flexEnd .flexBlogP img {
  margin-right: 20px;
}

.colorReview {
  background-color: #f6f6f6;
}

.formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.formFlex div:nth-child(1) > form:nth-child(1) {
  width: 100%;
}

.formFlex #fname {
  padding: 10px 0px 10px 20px;
  width: calc(50% - 3px);
}

.formFlex #email {
  padding: 10px 0px 10px 20px;
  width: calc(50% - 3px);
}

.formFlex form {
  width: 65%;
  color: #171717;
}

.formFlex #subject {
  height: 400px;
  width: 99.8%;
  border: none;
  margin-top: 10px;
  padding: 20px;
  color: #171717;
}

.formFlex .postComment {
  width: 100%;
  margin-top: 10px;
  padding: 7px;
  text-transform: uppercase;
  margin-bottom: 150px;
  border: none;
  background: #f38d8d;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.formFlex .form-field {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  color: #171717;
  opacity: none;
}
